---
import dayjs from "dayjs";
import { hash } from "../lib";

interface Props {
	events: { name: string; date: string; location: string; image: string }[];
}
const { events } = Astro.props;
const uid = hash(events);
---

<ul data-uid={uid} class="event-list" data-page="1">
	{
		events.slice(0, 3).map(({ name, date, location, image }) => (
			<li class="rounded">
				<div class="image">
					<img src={image} alt={name} />
				</div>
				<div class="info">
					<h1>{name}</h1>
					<h2>{dayjs(date).format("DD/MM/YYYY hh:mm a")}</h2>
					<h3>{location}</h3>
				</div>
				<div class="learn-more">
					<a class="rounded" href="/">
						Learn More
					</a>
				</div>
			</li>
		))
	}
</ul>

<script define:vars={{ uid }}>
	function getEventList() {
		return document.querySelector(`ul[data-uid=${uid}]`);
	}

	function getCurrentPage() {
		try {
			return parseInt(getEventList()?.dataset["page"]);
		} catch (err) {
			return null;
		}
	}

	function getTotalPages() {
		return Math.ceil(getEventList().children.length / 3);
	}

	function nextPage() {
		const list = getEventList();
		const currentPage = getCurrentPage();
		const totalPages = getTotalPages();
		if (currentPage && currentPage === totalPages) {
			list.dataset["page"] = 0;
		}
	}

	function prevPage() {
		const list = getEventList();
		const currentPage = getCurrentPage();
		if (currentPage && currentPage === 1) {
			list.dataset["page"] = getTotalPages();
		}
	}

	function setPage(page) {
		const list = getEventList();
		if (list) {
			list.dataset["page"] = page;
		}
	}
</script>

<style lang="scss">
	ul.event-list {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		list-style: none;
		margin: 0;
		height: 36rem;

		li {
			display: flex;
			flex-direction: column;
			width: 20rem;
			height: 100%;
			background: var(--accent-color);

			.image {
				height: 40%;
				width: 100%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 10px;
				}
			}

			.info {
				padding: 1rem;
				flex: 1;
				* {
					font-size: 1rem;
					font-weight: normal;
				}

				h1 {
					font-size: 1.25rem;
					font-weight: bold;
				}
			}

			.learn-more {
				padding: 2rem;
				padding-bottom: 3rem;

				width: 100%;
				a {
					width: 100%;
					height: 100%;
					display: block;
					padding: 1rem 0rem;
					background: var(--bg-color);
					text-align: center;
					color: var(--fg-color);
				}
			}
		}
	}
</style>
